[submodule "sample-images"]
	path = sample-images
	url = https://github.com/jdhp-misc/sample-images.git
[submodule "sample-sounds"]
	path = sample-sounds
	url = https://github.com/jdhp-misc/sample-sounds.git
[submodule "latex/beamer_snippets"]
	path = latex/beamer_snippets
	url = https://github.com/jdhp-docs/beamer-snippets.git
[submodule "javascript/remark.js"]
	path = javascript/remark.js
	url = https://github.com/jdhp-docs/remarkjs-snippets.git
[submodule "javascript/reveal.js"]
	path = javascript/reveal.js
	url = https://github.com/jdhp-docs/revealjs-snippets.git
