# MISC ########################################################################

.settings/
.svn/
.project

# JAVA ########################################################################

*.class
.classpath

# C/C++ #######################################################################

*.o
*.so
a.out

# PYTHON ######################################################################

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# COMMON ######################################################################

# Vim swap files
*.swp

# Emacs temporary files
*~

# MacOSX Thumbnail files
.DS_Store

# Windows Thumbnail files
Thumbs.db
