[submodule "sample-images"]
	path = sample-images
	url = https://github.com/jdhp-misc/sample-images.git
[submodule "sample-sounds"]
	path = sample-sounds
	url = https://github.com/jdhp-misc/sample-sounds.git
[submodule "remark.js"]
	path = remark.js
	url = https://github.com/jdhp-docs/remarkjs-snippets.git
[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/jdhp-docs/revealjs-snippets.git
[submodule "restructuredtext"]
	path = restructuredtext
	url = https://github.com/jdhp-docs/rst-snippets.git
