include AUTHORS
include LICENSE
include debian8-dist.sh
include *.txt
include *.rst
include *.md
recursive-include docs *
recursive-include tests *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
recursive-exclude tests *.pyc
recursive-exclude tests *.pyo
prune docs/_build
