# To have more information about the format of this file, please refer to the
# https://pip.pypa.io/en/stable/reference/requirements-file-format/

# PyTorch #####################################################################

# Depending on your system, you may need to install PyTorch with a specific version
# and with the appropriate CUDA version. Please refer to the official PyTorch
# installation guide for more information: https://pytorch.org/get-started/locally/

# torch

# As of April 2026, the NVIDIA driver version installed on Debian 13 is v550.163.01 with CUDA v12.4
# (see https://wiki.debian.org/NvidiaGraphicsDrivers), but PyTorch 2.11.0 requires CUDA >= 12.6.
# Therefore, an older version of PyTorch must be installed to remain compatible with CUDA v12.4.
torch==2.6.0 --index-url https://download.pytorch.org/whl/cu124
torchaudio==2.6.0 --index-url https://download.pytorch.org/whl/cu124
torchvision==0.21.0 --index-url https://download.pytorch.org/whl/cu124
# torch --index-url https://download.pytorch.org/whl/cu126    # Linux CUDA 12.6 version
# torch --index-url https://download.pytorch.org/whl/cpu      # Linux CPU version


# OPTIONAL DEPENDENCIES #######################################################

accelerate~=1.13.0       # For GPU acceleration
# aim
clearml~=2.1.5           # https://github.com/clearml/clearml
ipywidgets~=8.1.8        # Required for tqdm
jupyterlab~=4.5.6
matplotlib~=3.10.9
networkx~=3.6.1          # To display neural networks
nnfigs>=0.2.0            # To display neural networks
numpy~=2.4.4
optuna~=4.8.0
optuna-dashboard~=0.20.0
pandas~=3.0.2
# ray[default]
safetensors~=0.7.0       # For fast and safe tensor serialization
scikit-learn~=1.8.0       # To load some datasets
# scipy~=1.17.1
seaborn~=0.13.2
tensorboard~=2.20.0
tqdm~=4.67.3
# wandb


# USEFUL TOOLS ################################################################

jupytext~=1.19.1          # For Jupyter Notebook to Python script conversion
mypy~=1.20.2              # For static type checking
# pandas-stubs      # Public type stubs for pandas. C.f. https://pandas.pydata.org/docs/whatsnew/v1.5.0.html#enhancements and https://github.com/pandas-dev/pandas-stubs
ruff~=0.15.12             # For code formatting and linting
# types-seaborn     # Type hints for seaborn
# types-tqdm        # Type hints for tqdm
