# This file lists all the dependencies that are required to run INF639 labs

# To have more information about the format of this file, please refer to the
# https://pip.pypa.io/en/stable/reference/requirements-file-format/


# PyTorch #####################################################################

# Depending on your system, you may need to install PyTorch with a specific version
# and with the appropriate CUDA version. Please refer to the official PyTorch
# installation guide for more information: https://pytorch.org/get-started/locally/

torch
# torch --index-url https://download.pytorch.org/whl/cu124    # Linux CUDA 12.4 version
# torch --index-url https://download.pytorch.org/whl/cpu      # Linux CPU version

torchaudio
torchvision


# GYMNASIUM (RL environments) #################################################

# Install Gymnasium with all the environments

# gymnasium[accept-rom-license,atari,box2d,classic-control,mujoco]~=0.29.1

# Alternatively, you can install Gymnasium with specific environments only

# gymnasium[accept-rom-license,atari]~=0.29.1   # ATARI environments only
# gymnasium[box2d]~=0.29.1                      # Box2D environments only
# gymnasium[classic-control]~=0.29.1            # Classic control environments only
# gymnasium[mujoco]~=0.29.1                     # MuJoCo environments only


# REQUIRED DEPENDENCIES #######################################################

# imageio           # required to visualize environments as GIF images within the notebook
ipywidgets          # required for tqdm
jupyterlab
matplotlib
networkx            # to display neural networks
nnfigs>=0.2.0       # to display neural networks
numpy
pandas
seaborn
tqdm


# OPTIONAL DEPENDENCIES #######################################################

# aim
clearml            # https://github.com/clearml/clearml
optuna
optuna-dashboard
safetensors
tensorboard
# wandb


# USEFUL TOOLS ################################################################

# cleanrl           # https://github.com/vwxyzjn/cleanrl
jupytext          # For Jupyter Notebook to Python script conversion
mypy              # For static type checking
ruff              # For code formatting and linting
scikit-learn      # To load some datasets


# TODO ########################################################################

# Ray/rllib
# Ray/tune
# Jax
